# Игнорировать файлы сборки и временные файлы
target/
.project
.classpath

# Игнорировать файлы конфигурации IDE (например, IntelliJ IDEA)
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы, созданные пользователем (например, .DS_Store для macOS)
.DS_Store

# Игнорировать файлы jar
*.jar
