# Игнорировать файлы сборки и временные файлы
target/
.project
.classpath
.cache/
.history/

# Игнорировать файлы конфигурации IDE (например, IntelliJ IDEA)
.idea/
# Для других IDE, таких как Eclipse
.settings/

# Игнорировать файлы логов
*.log
*.tmp
*.temp

# Игнорировать файлы, созданные пользователем (например, .DS_Store для macOS)
.DS_Store

# Игнорировать файлы jar
*.jar

# Метаданные машинного обучения и инструментов разработки
.metals/
.bloop/
